.header {
  background: linear-gradient(to right, #61a8eb, #bfdbfe);
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #2a363b;
}
.title {
  margin-right: auto;
  font-size: 40px;
  text-align: center;
  color: #f24e5e;
  text-shadow: 1px 1px 0 #000000, 2px 2px 0 #777777, 3px 3px 0 #666666,
    4px 4px 0 #ffffff, 5px 5px 0 #555555, 6px 6px 0 #444444, 7px 7px 0 #333333,
    8px 8px 7px #111111;
}
