.WrapperItem {
  display: flex;
  flex-direction: column;
  width: 641px;
  max-height: 588px;
  gap: 44px;
  overflow-y: auto;
}

.itemInfo {
  display: flex;
  width: 631px;
  height: 148px;
  gap: 16px;
}

.round {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #e44848;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 4px;
}
.star {
  display: flex;
  gap: 4px;
}
.descriptoin {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
