/* .container {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}

.link {
  margin-right: 60px;
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.link.active {
  padding: 30px 0px;
  position: relative;
  color: #f24e5e;
}
.link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s;
}

.link:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: red;
  transition: width 0.5s;
} */
