.item {
  border: 1px solid#DADDE1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  display: flex;
  gap: 24px;
}
.img {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.containerInfo {
  display: flex;
  flex-direction: column;
}
.containerName {
  display: flex;
  justify-content: space-between;
}
.name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  max-width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ContainerPrise {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
}
.like {
  align-self: center;
}
.containerRating {
  display: flex;
  align-items: center;
}
.star {
  fill: #ffc531;
  margin-right: 4px;
}
.rating {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  margin-right: 16px;
}
.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
.locationIcon {
  margin-right: 4px;
}

.aboutDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
