/* .container { */
/* } первірити контейнер */
.name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
  margin-bottom: 8px;
}
.ratingWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.star {
  fill: #ffc531;
  margin-right: 4px;
}
.rating {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  margin-right: 16px;
}
.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.locationIcon {
  margin-right: 4px;
}
.price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 24px;
}
.list {
  display: flex;
  width: 1312px;
  height: 312px;
  gap: 8px;
  justify-content: space-between;
  /*  провірити gap*/
  margin-bottom: 24px;
}

.photoFavorite {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
}
.descriptionWrapper {
  width: 1312px;
  max-height: 50px;
  overflow-y: auto;
}
.aboutDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 44px;
}
