.sidebar {
  width: 360px;
}
.wrapperLocation {
  margin-bottom: 32px;
}
.labelLocation {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(16, 24, 40, 0.6);
  margin-bottom: 8px;
  display: block;
}
.inputLocation {
  border-radius: 10px;
  padding: 18px 18px 18px 44px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  background: #f7f7f7;
  border: none;
}
.wrapperInput {
  position: relative;
}

.iconLocation {
  position: absolute;
  top: 18px;
  left: 18px;
  position: relative;
}
.text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
