
.ContainerFeatures {
  padding: 44px;
    border-radius: 10px;
    background: rgb(247, 247, 247);

}
.featureList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.featureBox {
    background: rgb(242, 244, 247);
    padding: 12px 18px 12px 18px;
    border-radius: 100px;
    display: flex;
    gap: 8px;
}
.title {
  color: rgb(16, 24, 40);
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
margin-bottom: 24px;
}
.detailsList {
   padding-top: 24px;
    border-top: 1px solid rgb(218, 221, 225);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.detailBox {
  display: flex;
    justify-content: space-between;
}